[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
python-dotenv = "*"
watchdog = "*"
pylint = "*"
autopep8 = "*"
colorama = "*"
requests = "*"
pyjwt = "*"
matplotlib = "*"
pyi18n-v2 = "*"
pytz = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.12"
